* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #0968c4;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.working {
  background: #e82e2f;
}

.hidden {
  display: none;
}

.pomodoro {
  background: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro button {
  background: #0968c4;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  color: #000;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.working .pomodoro button {
  background: #e82e2f;
  color: #fff;
}

.pomodoro .details {
  margin: 20px 0;
}

footer{
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  text-align: right;
  font-size: 1.2rem;
  padding: 15px;
  color: #444;
}

footer a{
  color: #0968c4;
}

footer a:hover{
  color: #e82e2f;
}

footer a img{
  width: 18px;
}
